<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Contact</title>
    <script src="../../ext_js/jquery-3.2.1.min.js"></script>
    <script src="../../js/utils/global_variables.js" charset="utf-8"></script>
    <script src="../../js/controller/get/record_create.js" charset="utf-8"></script>
    <script src="../../js/model/http/post_records.js" charset="utf-8"></script>
    <script src="../../js/model/records/record_create.js" charset="utf-8"></script>
  </head>
  <body>

    <p>Contact Name:</p><input type="text" id="contactName" name="Contact Name"><br>
    <p>Primary Phone:</p><input type="text" id="primaryPhone" name="Primary Phone"><br>
    <p>Secondary Phone:</p><input type="text" id="secondaryPhone" name="Secondary Phone"><br>
    <p>Email:</p><input type="text" id="email" name="Email"><br>
    <p>Primary Address:</p><input type="text" id="primaryAddress" name="Primary Address"><br>
    <p>Secondary Address:</p><input type="text" id="secondaryAddress" name="Secondary Address"><br>
    <br><br>
    <button type="button" name="cInsert" onclick="insertContact('Contact')">Create</button>
  </body>
</html>
