<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Accounts</title>
    <script src="../ext_js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../ext_js/bootstrap/css/bootstrap.min.css">
    <script src="../ext_js/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/utils/global_variables.js" charset="utf-8"></script>
    <script src="../js/model/http/get_records.js" charset="utf-8"></script>
    <script src="../js/model/records/record_update.js" charset="utf-8"></script>
    <script src="../js/controller/display/select_display.js" charset="utf-8"></script>
    <script src="../js/model/http/delete_records.js" charset="utf-8"></script>
    <script src="../js/model/records/record_delete.js" charset="utf-8"></script>
    <script src="../js/controller/get/record_create.js" charset="utf-8"></script>
    <script src="../js/model/http/post_records.js" charset="utf-8"></script>
    <script src="../js/model/records/record_create.js" charset="utf-8"></script>
    <script src="../js/model/records/record_update.js" charset="utf-8"></script>
    <script src="../js/controller/get/record_update.js" charset="utf-8"></script>
    <script src="../js/model/http/put_records.js" charset="utf-8"></script>
    <script src="../js/controller/page_load/main/account_main.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/module.css">
    <link rel="stylesheet" href="../css/modal_form.css">
  </head>
  <body>
    <div class="modal fade" id="createAccountModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="myFormHeading">Create Account</p>
        </div>
        <div class="modal-body">
          <p class="myFormText">Account Name:</p>
          <input type="text" id="accountName" name="Account Name" class="form-control myFormElements"><br>
          <p class="myFormText">Account Owner:</p>
          <input type="text" id="accountOwner" name="Account Owner" class="form-control myFormElements"><br>
          <p class="myFormText">Account Manager:</p>
          <input type="text" id="accountManager" name="Account Manager" class="form-control myFormElements"><br>
          <p class="myFormText">Initial Balance:</p>
          <input type="text" id="accountBalance" name="Account Balance" class="form-control myFormElements"><br>
          <p><button type="button" class="btn-success form-control submit_button_text" name="aInsert" onclick="insertAccount()">Create</button></p>
        </div>
      </div>

    </div>
  </div>


  <div class="modal fade" id="updateAccountModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p class="myFormHeading">Update Account</p>
      </div>
      <div class="modal-body">
          <p class="myFormText">Account Name:</p>
          <input type="text" id="updateAccountName" name="Account Name" class="form-control myFormElements"><br>
          <p class="myFormText">Account Owner:</p>
          <input type="text" id="updateAccountOwner" name="Account Owner" class="form-control myFormElements"><br>
          <p class="myFormText">Account Manager:</p>
          <input type="text" id="updateAccountManager" name="Account Manager" class="form-control myFormElements"><br>
          <p class="myFormText">Initial Balance:</p>
          <input type="text" id="updateAccountBalance" name="Account Balance" class="form-control myFormElements"><br>
          <p><button type="button" class="btn-success form-control submit_button_text" name="aUpdate" onclick="updateAccount('Account)">Update</button></p>
      </div>
    </div>

  </div>
</div>



    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Vriddhi</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="Welcome.html">Home</a></li>
          <li class="active"><a href="Account.html">Accounts</a></li>
          <li><a href="Contact.html">Contacts</a></li>
          <li><a href="Item.html">Items</a></li>
          <li><a href="Transaction.html">Transactions</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <select class="displayRecords" name="accountsView" size="10" id="accountSelect" multiple>

        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" name="createAccount" class="button green-button" onclick="startCreateProcess('accounts','#createAccountModal')">Create</button>
        <button type="button" name="editAccount" class="button blue-button" onclick="startAccountUpdateProcess('#updateAccountModal','#accountSelect')">Edit</button>
      </div>
    </div>
  </body>
</html>
